// Vinespring Nav items
a[title="login-cart"]
	pointer-events: none
	cursor: default

#vs2-accountLinks
	pointer-events: auto
	cursor: pointer
	>span
		padding: 3px 35px 3px 0 
		a
			pointer-events: auto
			cursor: pointer
			&:hover
				text-decoration: none


// Vinespring account page
[data-vsplugin="account"]
	text-align: center
	> form
		margin: 0 auto
		.vs2x-row > div[class^="vs2x"]
			margin-left: 25%




//Product container
.vs2-productList-item 
	box-sizing: border-box
	float: none
	+grid(4)
	text-align: center
	height: 400px
	padding: 0
	margin-bottom: 1em
	+media(max, 750px)
		+grid(6)
	+media(max, 550px)
		+grid(12)
	// Product image container
	.vs2-productList-image 
		float: none
		border-left: 1px solid $grey-light
		border-top: 1px solid $grey-light
		border-right: 1px solid $grey-light	
		width: 100%	
		img
			max-width: 100%
			height: 200px 
	// Details container
	.vs2-productList-details 
		border-left: 1px solid $grey-light
		border-bottom: 1px solid $grey-light
		border-right: 1px solid $grey-light
		width: 100%
		padding-bottom: 20px
		height: 45%
		// Title
		.vs2-productList-link 
			font-size: $base-font-size

.vs2-productList-teaser
	// @extend .visually-hidden
	display: none

.vs2-productList-quantity-input
	width: 100px
	float: none

.vs2-productList-price
	display: block