/* line 10, sass/_helpers.sass */
.group:after {
  content: "";
  display: table;
  clear: both;
}

/* line 16, sass/_helpers.sass */
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/* line 27, sass/_helpers.sass */
.no-shift {
  -webkit-transform: translate3d(0, 0, 0);
}

/* line 3, sass/_modules.sass */
.vs2-productList-item {
  box-sizing: border-box;
  float: none;
  width: 33.33333%;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
  height: 400px;
  padding: 0;
  margin-bottom: 1em;
}
@media screen and (max-width: 750px) {
  /* line 3, sass/_modules.sass */
  .vs2-productList-item {
    width: 50%;
    padding-left: 1em;
    padding-right: 1em;
  }
}
@media screen and (max-width: 550px) {
  /* line 3, sass/_modules.sass */
  .vs2-productList-item {
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
  }
}
/* line 16, sass/_modules.sass */
.vs2-productList-item .vs2-productList-image {
  float: none;
  border-left: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
  width: 100%;
}
/* line 22, sass/_modules.sass */
.vs2-productList-item .vs2-productList-image img {
  max-width: 100%;
  height: 200px;
}
/* line 26, sass/_modules.sass */
.vs2-productList-item .vs2-productList-details {
  border-left: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
  width: 100%;
  padding-bottom: 20px;
  height: 45%;
}
/* line 34, sass/_modules.sass */
.vs2-productList-item .vs2-productList-details .vs2-productList-link {
  font-size: 16px;
}

/* line 37, sass/_modules.sass */
.vs2-productList-teaser {
  display: none;
}

/* line 41, sass/_modules.sass */
.vs2-productList-quantity-input {
  width: 100px;
  float: none;
}

/* line 45, sass/_modules.sass */
.vs2-productList-price {
  display: block;
}
